# Database Configuration
DB_USER=
DB_PASSWORD=
DB_NAME=

# Auth Database Configuration
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=

# App Configuration
NODE_ENV=
PORT=
AUTH_PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
